* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

h2 {
  font-size: 1.6em;
  line-height: 1em;
}

h3 {
  font-size: 1.4em;
  line-height: 1em;
}

p {
  font-size: 1.1em;
}

body {
  background-image: url("./imagenes/backgoundcolor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4em;
}

.contenedor {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.navbar {
  background-image: url("./imagenes/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  padding-right: 2rem;
}

.logo a {
  color: black;
  line-height: 1em;
}

#navbarNav ul li a {
  padding-left: 16px;
  padding-right: 16px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 5px;
  font-weight: bold;
}

#navbarNav ul li a:hover {
  background: #f1724049;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hero h2 {
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
  color: black;
}

#hero p {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: black;
}

.imagenes ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 3rem;
}

.container__flex--imagenes--index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__flex--imagenes--index li {
  margin: 0.8rem;
  text-align: center;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.container__flex--imagenes--index li img {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

iframe {
  max-width: 700px;
  width: 100%;
}

.container__iframe {
  width: 100%;
  text-align: center;
}

#map {
  border-style: outset;
  border-width: 10px;
  border-radius: 5px;
  border-color: #9acecf85;
}

.footer {
  padding: 1.5rem 0;
  margin-top: 14rem;
  text-align: center;
}

.container__footer {
  background-image: url("./imagenes/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
}

.container__footer h2 {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

.footer__pages {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 0;
  padding-bottom: 0;
}

.footer__pages li {
  display: list-item;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer__pages li a {
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: rgba(26, 83, 81, 0.664);
}

.footer__pages li p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.icono {
  font-size: 3rem;
}

/* sobremi.html */
.container__sobremi {
  max-width: 900px;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

/* productos.html */
.productos {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.container__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__flex div {
  margin: 1rem;
  text-align: center;
}

.container__flex img {
  max-width: 325px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.container__flex img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* perzonalizado.html */
.container__grid {
  display: -ms-grid;
  display: grid;
}

.container__grid div {
  text-align: center;
  border-width: 4px;
  border-radius: 5px;
  border-color: #cf9a9a85;
  border-style: outset;
  margin: 5px 5px;
}

.container__grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.img2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.img3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.img4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.img5 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

/* preguntas.html */
.container__preguntas {
  max-width: 900px;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

/* contacto.html */
.container__contacto {
  max-width: 600px;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

form {
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0px;
  display: inline-block;
  border-style: outset;
  border-width: 3px;
  border-radius: 5px;
  border-color: #FAA298;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label {
  font-weight: bold;
}

.botones {
  max-width: 150px;
  width: 100%;
  background-color: #faa29885;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 10px;
  margin: 8px 8px;
  border-style: outset;
  border-width: 3px;
  border-radius: 5px;
  border-color: #00000052;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.botones:hover {
  background: #ac6e6785;
}

/* Vista mobile */
@media only screen and (max-width: 1060px) {
  .contenedor {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
  }
  .header {
    background-image: url("./imagenes/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-bottom: 1rem;
  }
  .logo {
    font-size: 1.8rem;
    padding-left: 0rem;
  }
  .secciones {
    width: 100%;
  }
  .secciones ul li {
    display: block;
  }
  .secciones ul li a {
    display: block;
    padding: 0.1rem 0rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 5px;
    font-weight: bold;
  }
  .secciones ul li a:hover {
    background: #f1724049;
  }
  .footer {
    padding: 1.5rem 0;
    margin-top: 15rem;
    text-align: center;
  }
  .container__footer {
    background-image: url("./imagenes/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=estilos.css.map */